<title>VM</title>
<link rel="stylesheet" media="screen" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <form action="/vm" method="POST">
        <div class="form-group">
            <h1>Ambiente de criação de VMs</h1>
            <label for="num_maq">Número da máquina:</label>
            <input type="text" class="form-control" id="num_maq" name="num_maq" placeholder="Exemplo: 1 (colocar referente a sequência de criação)">
            <label for="so">Sistema Operacional:</label>
            <input type="text" class="form-control" id="so" name="so" placeholder="Digite: Ubuntu ou Windows.">
            <label for="nome_clone">Nome da VM:</label>
            <input type="text" class="form-control" id="nome_clone" name="nome_clone" placeholder="Digite o seu CPF. (somente números)">
            <label for="cpus">Quantidade de CPUs:</label>
            <input type="text" class="form-control" id="cpus" name="cpus" placeholder="Digite: 1 ou 2.">
            <label for="memoria">Quantidade de Memória:</label>
            <input type="text" class="form-control" id="memoria" name="memoria" placeholder="Digite: 512 ou 1024 ou 2048 ou 4096.">
            <label for="ip">IP:</label>
            <input type="text" class="form-control" id="ip" name="ip" placeholder="Exemplo: 192.168.(número da máquina).(entre 100 e 200)">
        </div>
        <button type="submit" class="btn btn-primary">Criar VM</button>
    </form>
</div>
